# Ignore node_modules and npm log files
node_modules
npm-debug.log
yarn-error.log

# Ignore logs
logs
*.log

# Ignore environment files (e.g., sensitive data)
.env

# Ignore any build or output directories
build
dist

# Ignore Docker-related files
Dockerfile
.dockerignore

# Ignore local config files
*.local

# Ignore git files and folders
.git
.gitignore

# Ignore editor and IDE config files
.vscode
.idea
*.swp
